<section class="mt-5">
    <table class="table table-md mt-2 w-full">
        <thead>
            <tr>
                <th>#</th>
                <th>Icono</th>
                <th>Bandera</th>
                <th>Nombre</th>
                <th>Capital</th>
                <th>Poblacion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (country of countries(); track $index; let index = $index) {
                <tr>
                    <td>{{ index + 1}}</td>
                    <td> <img [src]="country.flag_svg" alt="Bandera" class="w-5"> </td>                    
                    <td><img [src]="country.flag" class="w-20" > </td>
                    <td>{{ country.namee }}</td>
                    <td>{{ country.capital }}</td>
                    <td>
                    <span class="badge badge-secondary">
                        {{ country.population | number }}
                    </span>
                    </td>   
                    <td>
                        <a 
                        [routerLink]="['/country/by/', country.namee.toLowerCase()]"
                        class="link-primary cursor-pointer" >Mas informacion</a>
                    </td>                   
                </tr>
            }

            @if (errorMessage()) {
                <tr>
                    <td colspan="8" class="text-center text-danger">
                        {{ errorMessage() }}
                    </td>
                </tr>
            }

            @if(countries()?.length == 0 && !isLoading()) {
                <tr>
                    <td colspan="8" class="text-center text-warning">
                        No se encontraron resultados
                    </td>
                </tr>
            }

            @if(isLoading()){
                
                <tr>
                    <td colspan="8" class="text-center text-info">
                        Cargando...
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>